.card {
    width: 230px;
    background-color: aliceblue;
    border-radius: 12px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 6px;
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.075);
    box-shadow: 2px 2px 4px 2px rgba(14, 163, 193, 0.2);
    cursor: pointer;
}

.card h2 {
    font-size: 20px;
}

.card p {
    font-size: 14px;
}